[{kernel,
  [
    {
      distributed, [
        {rest, 1000, ['webserver1@127.0.0.1', 'webserver2@127.0.0.1', 'webserver3@127.0.0.1']}, 
        {maru, 1000, ['webserver1@127.0.0.1', 'webserver2@127.0.0.1', 'webserver3@127.0.0.1']},
        {ranch, 1000, ['webserver1@127.0.0.1', 'webserver2@127.0.0.1', 'webserver3@127.0.0.1']}
      ]
    },
    {
      sync_nodes_mandatory, [
        'webserver1@127.0.0.1', 
        'webserver2@127.0.0.1'
      ]
    },
    {
      sync_nodes_timeout, 60000
    }
  ]
 }
].